<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://img2.woyaogexing.com/2018/03/05/f84fd959facc969b!400x400_big.jpg</string>
	<string>http://img2.woyaogexing.com/2018/03/05/3dd3c9def6a58043!400x400_big.jpg</string>
	<string>http://img2.woyaogexing.com/2018/03/06/df05595d64730584!400x400_big.jpg</string>
	<string>http://img2.woyaogexing.com/2018/03/06/8dea571fd8d2f9ca!400x400_big.jpg</string>
</array>
</plist>
